@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-regular-italic {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-medium {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-medium-italic {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-semibold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.playfair-display-semibold-italic {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-bold-italic {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-extrabold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.playfair-display-extrabold-italic {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.playfair-display-black {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-black-italic {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.raleway-thin {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.raleway-thin-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.raleway-extralight {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.raleway-extralight-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.raleway-light {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.raleway-light-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-regular-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.raleway-medium-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.raleway-semibold-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-bold-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-extrabold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.raleway-extrabold-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.raleway-black {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.raleway-black-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Raleway", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body .brand-logo {
  height: 100%;
}
body .brand-logo img {
  height: 64px;
}
body .app-layout .menu-container,
body .app-layout .app-footer {
  display: none;
}
body .app-layout .app-bottom-navigation {
  display: block;
  padding: 0;
}
body .app-layout .app-bottom-navigation .ant-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}
body .app-layout .app-bottom-navigation .ant-menu-item .ant-menu-item-icon {
  font-size: 20px;
}
body .app-layout .app-bottom-navigation .ant-menu-item .ant-menu-title-content {
  margin: 0;
  line-height: 28px;
}
body .section-home-banner {
  min-height: 600px;
}
body .section-home-banner .hb-slideshow .hb-slideshow-slide {
  position: relative;
}
body .section-home-banner .hb-slideshow .hb-slideshow-slide .hb-slideshow-bg {
  max-width: 100%;
  min-height: 600px;
  display: block;
  object-fit: cover;
}
body .section-home-banner .hb-slideshow .hb-slideshow-slide .hb-slideshow-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .section-home-banner .hb-slideshow .hb-slideshow-slide .hb-slideshow-caption .hb-slideshow-caption-heading {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  color: var(--ant-color-primary-text);
  margin-top: 0;
}
body .section-home-banner .ant-carousel .slick-dots li button {
  background-color: #000000;
}
body .section-home-banner .ant-carousel .slick-dots li.slick-active button {
  border: 1px solid #000000;
}
body .section-home-banner .ant-carousel .slick-next,
body .section-home-banner .ant-carousel .slick-prev {
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
}
body .section-home-banner .ant-carousel .slick-next::before,
body .section-home-banner .ant-carousel .slick-prev::before {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  line-height: 2.5;
  border: 1px solid #000000;
  border-radius: 50%;
}
body .section-home-banner .ant-carousel .slick-next:hover,
body .section-home-banner .ant-carousel .slick-prev:hover {
  color: var(--ant-color-text-light-solid);
  background-color: var(--ant-color-primary-active);
}
body .section-home-banner .ant-carousel .slick-next:hover::before,
body .section-home-banner .ant-carousel .slick-prev:hover::before {
  color: var(--ant-color-text-light-solid);
  border-color: var(--ant-color-primary-active);
}
body .section-home-banner .ant-carousel .slick-next {
  right: 30px;
}
body .section-home-banner .ant-carousel .slick-prev {
  left: 30px;
}
@media (min-width: 768px) {
  body .app-layout .menu-container,
  body .app-layout .app-footer {
    display: block;
  }
  body .app-layout .app-bottom-navigation {
    display: none;
  }
}

/*# sourceMappingURL=App.css.map */
