@charset "UTF-8";
// Begin Imports
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "vendors/variables";
@import "vendors/font";
@import "vendors/components";
// End Imports
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family:
        $secondary-font-family,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    .brand-logo {
        height: 100%;
        img {
            height: 64px;
        }
    }
    .img-fluid {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .app-layout {
        position: relative;
        .brand-logo {
            display: block;
            text-align: start;
            img {
                width: 100%;
                height: 4rem;
                padding: 0.5rem 1rem;
            }
        }
        .app-header {
            position: sticky;
            top: 0;
            z-index: 999;
            width: 100%;
            .header-navigation-menu {
                display: none;
            }
        }
        .app-footer {
            display: none;
            background-color: var(--ant-color-white);
            .brand-logo {
                img {
                    width: auto;
                    height: 128px;
                }
            }
            .ant-list-header {
                text-align: start;
                font-family: $primary-font-family;
            }
            .ant-list-items {
                text-align: start;
                .ant-list-item {
                    padding: 0;
                    .ant-list-item-meta {
                        .ant-list-item-meta-content {
                            .ant-list-item-meta-title {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
        .app-bottom-navigation {
            display: block;
            padding: 0;
            width: 100%;
            position: fixed;
            bottom: 0;
            z-index: 9999;
            .ant-menu {
                justify-content: space-evenly;
                &::after,
                &::before {
                    display: unset;
                    content: none;
                }
                .ant-menu-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 1rem;
                    .ant-menu-item-icon {
                        font-size: 20px;
                    }
                    .ant-menu-title-content {
                        margin: 0;
                        line-height: 28px;
                    }
                }
            }
        }
    }
    .fade-in {
        opacity: 0;
        transform: scale(1.1);
        transition:
            transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
            opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .fade-in.lazyloaded {
        opacity: 1;
        transform: scale(1);
    }
    .ant-typography-primary {
        color: var(--ant-color-primary);
        font-weight: 500;
    }
    .ant-card {
        .ant-card-head {
            .ant-card-head-title {
                font-family: $primary-font-family;
                font-size: 1.5rem;
            }
        }
    }
    .ant-carousel {
        .slick-next,
        .slick-prev {
            width: 45px;
            height: 45px;
            z-index: 1;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0);
            &::before {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 18px;
                font-weight: 500;
                color: #f2f3f4;
                line-height: 2.5;
                border: 1px solid #f2f3f4;
                border-radius: 50%;
            }
            &:hover {
                color: var(--ant-color-text-light-solid);
                background-color: var(--ant-color-primary);
                &::before {
                    color: var(--ant-color-text-light-solid);
                    border-color: var(--ant-color-primary);
                }
            }
        }
        .slick-next {
            right: 2%;
        }
        .slick-prev {
            left: 2%;
        }
    }
    .section-home-banner {
        min-height: 600px;
        .hb-slideshow {
            .hb-slideshow-slide {
                position: relative;
                max-height: 600px;
                overflow-y: hidden;
                .hb-slideshow-bg {
                    max-width: 100%;
                    min-height: 600px;
                    display: block;
                    object-fit: cover;
                    background: rgba(0, 0, 0, 0.199);
                    position: relative;
                }
                .hb-slideshow-caption {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    background-color: rgb(0, 0, 0, 20%);
                    .hbsc-heading {
                        color: var(--ant-color-text-light-solid);
                        font-family: $primary-font-family;
                        font-size: 70px;
                        margin-top: 0;
                        text-transform: uppercase;
                    }
                    .hbsc-subheading {
                        color: var(--ant-color-text-light-solid);
                    }
                }
            }
        }
    }
    .section-home-collection {
        margin: 5rem 0;
        .slick-list {
            .slick-slide {
                padding: 0 15px;
            }
        }
        .ant-card.collection-card {
            .ant-card-body {
                padding: 0;
                .collection-card-content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateY(-40%);
                    width: 100%;
                    height: auto;
                    padding: 15px 0;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .section-home-new-arrivals {
        margin: 5rem 0;
        .slick-list {
            .slick-slide {
                padding: 0 15px;
            }
        }
        .product-arrival-card {
            .ant-card-cover {
                position: relative;
                overflow: hidden;
                .product-cover-img-1 {
                    display: block;
                    opacity: 1;
                    transform: scale(1);
                }
                .product-cover-img-2 {
                    display: none;
                    opacity: 0;
                    transform: scale(1.1);
                }
                .product-hover-content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: auto;
                    transform: translateY(40px);
                }
            }
            &:hover {
                .ant-card-cover {
                    .product-cover-img-1 {
                        display: none;
                        opacity: 0;
                        transform: scale(1.1);
                    }
                    .product-cover-img-2 {
                        display: block;
                        opacity: 1;
                        transform: scale(1);
                    }
                    .product-hover-content {
                        display: block;
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .section-home-video-background {
        .home-video-background-inner {
            width: 100%;
            position: relative;
            padding-top: 12.24%;
            padding-bottom: 13.28%;
            .home-video-background-content {
                width: 100%;
                height: auto;
                position: relative;
                z-index: 1;
                .hvbc-subheading {
                    font-size: 11px;
                    line-height: 24px;
                    color: #ffffff;
                    margin: 0 0 5px 0;
                    text-transform: uppercase;
                }
                .hvbc-heading {
                    font-family: $primary-font-family;
                    font-size: 60px;
                    line-height: 65px;
                    color: #ffffff;
                    margin: 0 0 15px 0;
                }
                .hvbc-description {
                    font-size: 20px;
                    line-height: 20px;
                    color: #ffffff;
                    margin: 0 0 0 0;
                }
                .hvbc-sub-btn {
                    margin-top: 37px;
                }
            }
            video {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 0;
                object-fit: cover;
            }
        }
    }
    .auth-container {
        background-color: var(--ant-color-white);
        min-height: 22.5rem;
        margin: 1rem;
        padding: 2rem;
        .auth-container-logo {
            width: auto;
            height: 128px;
        }
        .auth-container-captions {
            padding: 0 1rem;
            text-align: center;
            .title {
                margin-bottom: 0;
            }
            .sub-title {
                padding: 0 4px;
            }
        }
    }
    .product-card {
        .ant-card-meta-title {
            text-overflow: unset;
            white-space: unset;
        }
    }
    .products-categories-box {
        .ant-segmented-group {
            flex-wrap: wrap;
        }
    }
    .product-detail-page {
        padding: 20px;
        .ant-carousel {
            .slick-next,
            .slick-prev {
                &::before {
                    color: #353839;
                    border-color: #353839;
                }
                &:hover {
                    color: var(--ant-color-text-light-solid);
                    background-color: var(--ant-color-primary);
                    &::before {
                        color: var(--ant-color-text-light-solid);
                        border-color: var(--ant-color-primary);
                    }
                }
            }
        }
        .product-images {
            display: flex;
            overflow-x: auto;
            margin-top: 0.625rem;
        }

        .product-image-thumb {
            margin-right: 0.625rem;
        }
        .product-actions {
            display: flex;
            justify-content: space-between;
        }

        .product-buy-more-save-more {
            margin-top: 20px;
        }
    }
    .ant-collapse-header-text {
        font-family: $primary-font-family;
        font-size: 1.25rem;
    }
    .product-description-editor {
        .ql-editor {
            min-height: 10rem;
        }
    }
    .cart-item-card{
        position: relative;
        .cart-item-remove-btn{
            position: absolute;
            top: 2%;
            right: 1%;
            z-index: inherit;
        }
    }
    @media (min-width: 768px) {
        .app-layout {
            .app-header {
                .header-navigation-menu {
                    display: block;
                }
            }
            .app-footer {
                display: block;
            }
            .app-bottom-navigation {
                display: none;
            }
        }
    }
}
