@font-face {
  font-family: "espoir";
  src: url("../fonts/espoir.eot");
  src: url("../fonts/espoir.eot") format("embedded-opentype"),
    url("../fonts/espoir.woff2") format("woff2"),
    url("../fonts/espoir.woff") format("woff"),
    url("../fonts/espoir.ttf") format("truetype"),
    url("../fonts/espoir.svg#espoir") format("svg");
}

@font-face {
  font-family: "espoirItalic";
  src: url("../fonts/espoirItalic.eot");
  src: url("../fonts/espoirItalic.eot") format("embedded-opentype"),
    url("../fonts/espoirItalic.woff2") format("woff2"),
    url("../fonts/espoirItalic.woff") format("woff"),
    url("../fonts/espoirItalic.ttf") format("truetype"),
    url("../fonts/espoirItalic.svg#espoirItalic") format("svg");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "espoir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.brand-logo {
  height: 100%;
}
.brand-logo > img {
  height: 64px;
}
